#bar ul{
	list-style-type: none;
	
}

#bar {

  position:relative;
width:80%;
margin:0% auto;
  

}





#bar3{
	width:60%;
	display:inline-block;
	
}



.banner img{

	width:200%;
}


.banner a img{

	width:200%;
}


.banner #myname{
	width:145%;

}




#work-work img{
	width:140%;
margin-left:-30%;
}
