body, html{
	font-family:'Josefin Sans', Arial, sans-serif;

}

#home{
	margin: 0 auto;
	background-color: blue;
	display:inline-block;

}

#bar2 {
	float:right;
	width:200px;


}


	
}

.bar3{
	background-color:purple;
	width:200px;
	

	
}

.bar3 img{
	display:inline;
	padding-left:3%;
}


#bar a:hover{
	opacity:0.6;
}


#bar ul{
	list-style-type: none;
	
}

#bar {

  position:relative;
width:85%;

margin:0% auto;
  

}



.button a:hover{
	opacity: 0.5;
}

.button a:active{
	opacity:0.5;
}


#content{
	
width:80%;

	float:right;
	


}



#index{
	width:80%;
}

.resume{

	width:80%;
}



.resume a:hover{
	background-color:#FCF6D9;
}



.resume a:link{

}

#r1 {
	background-color:red;
}

.thispage{
background-color:#FCEFEE;

}



.blog{
	
	width:80%;
	padding:5%;


}





.blog-blog{
	width:70%;
}


.blog a{
	
	border: 3% solid transparent;
	
	border-radius:4%;
	-webkit-border-radius:6px;
	opacity:0.8;

	-webkit-transition:all .3s ease-in;
	-moz-transition: all .3s ease-in;
	-o-transition:all .3s ease-in;
	transition: all.3s ease-in;

}

.blog img{
margin-right:3%;

}
.blog a:hover{
	border-color:white;
	opacity:1;
}


#work{
	margin-top:3%;
width:80%;
	float:left;
	margin-left:auto;
	margin-right:auto;

}

#work-bar{
	margin:5%;
}



#cereal{
	margin:3%;
}

.nivoSlider {
    position:relative;
    background:url(images/loading.gif) no-repeat 50% 50%;
}
.nivoSlider img {
    position:absolute;
    top:0px;
    left:0px;
    display:none;
}
.nivoSlider a {
    border:0;
    display:block;
}


#foodmag{

	margin-top:5%;
}





/*
#index{
	margin:0% auto;
	width:50%;
}


.blog{
	width:50%;

}




#resume{
	
}



.resume #summary ul{
	padding-left:1%;
	
}


.resume #summary li{
	background: none;

	
}



.resume h4{
	color:#4F4A52;

}

.resume h5{
padding-left:6%;



}


.resume ul{
	list-style-type:none;
	
	padding-left:9%;
}

.resume li{
	list-style:none;
background-image: url('http://www.sfu.ca/~spw7/iat381/triangle.png');
background-repeat:no-repeat;
background-position:0 10%;
padding-left:2%;
margin-top:0.5%;


}



.blog a{
	margin: 3%;
	border: 4% solid transparent;
	display:block;
	border-radius:5%;
	-webkit-border-radius:6px;
	opacity:0.8;

	-webkit-transition:all .3s ease-in;
	-moz-transition: all .3s ease-in;
	-o-transition:all .3s ease-in;
	transition: all.3s ease-in;

}

.blog a:hover{
	border-color:white;
	opacity:1;
}

.blog img{
	-webkit-border-radius:4px;
	border-radius:4px;
}


/*
#accordion {
list-style: none;
margin: 5% 0;
padding: 0;
height: 400px;
overflow: hidden;
background: #7d8d96;}
 
#accordion li {
float: left;
border-left:
display: block;
height: 400px;
width: 50px;
padding: 15px 0;
overflow: hidden;
color: #fff;
text-decoration: none;
font-size: 16px;
line-height: 1.5em;
border-left: 1px solid #fff;}
 
#accordion li img {
border: none;
border-right: 1px solid #fff;
float: left;
margin: -15px 15px 0 0;
}
 
#accordion li.active {
width: 450px;
}



#accordion2 {
list-style: none;
margin: 5% 0;
padding: 0;
height: 200px;
overflow: hidden;
background: #7d8d96;}
 
#accordion2 li {
float: left;
border-left:
display: block;
height: 170px;
width: 50px;
padding: 15px 0;
overflow: hidden;
color: #fff;
text-decoration: none;
font-size: 16px;
line-height: 1.5em;
border-left: 1px solid #fff;}
 
#accordion2 li img {
border: none;
border-right: 1px solid #fff;
float: left;
margin: -15px 15px 0 0;
}
 
#accordion2 li.active {
width: 450px;
}




footer{

margin-bottom:10%;
text-align:center;
font-family: 'Josefin Sans', sans-serif;
}

*/