body, html{
	font-family:'Josefin Sans', Arial, sans-serif;

}

#home{
	margin: 3% auto;
	background-color: blue;

	
	
	

}

#bar{
	
	width:15%;
	float:left;



}


#bar2{
	display:inline-block;
 	float:right;
}


#bar3 a:hover{
	opacity:0.6;
}


#bar ul{
	list-style-type: none;
	
}

#bar3 {
  float: left;
  position:relative;
width:100%;
background-color:red;
  


}




.button a:hover{
	opacity: 0.5;
}

.button a:active{
	opacity:0.5;
}


#content{
	

	float:left;
	

}


.resume a:hover{
	background-color:yellow;
}

.resume a:active{
	background-color:blue;
}

.resume a:link{

}

#me {
	background-color:;
}

/*
#index{
	margin:0% auto;
	width:50%;
}


.blog{
	width:50%;

}




#resume{
	
}



.resume #summary ul{
	padding-left:1%;
	
}


.resume #summary li{
	background: none;

	
}



.resume h4{
	color:#4F4A52;

}

.resume h5{
padding-left:6%;



}


.resume ul{
	list-style-type:none;
	
	padding-left:9%;
}

.resume li{
	list-style:none;
background-image: url('http://www.sfu.ca/~spw7/iat381/triangle.png');
background-repeat:no-repeat;
background-position:0 10%;
padding-left:2%;
margin-top:0.5%;


}



.blog a{
	margin: 3%;
	border: 4% solid transparent;
	display:block;
	border-radius:5%;
	-webkit-border-radius:6px;
	opacity:0.8;

	-webkit-transition:all .3s ease-in;
	-moz-transition: all .3s ease-in;
	-o-transition:all .3s ease-in;
	transition: all.3s ease-in;

}

.blog a:hover{
	border-color:white;
	opacity:1;
}

.blog img{
	-webkit-border-radius:4px;
	border-radius:4px;
}


/*
#accordion {
list-style: none;
margin: 5% 0;
padding: 0;
height: 400px;
overflow: hidden;
background: #7d8d96;}
 
#accordion li {
float: left;
border-left:
display: block;
height: 400px;
width: 50px;
padding: 15px 0;
overflow: hidden;
color: #fff;
text-decoration: none;
font-size: 16px;
line-height: 1.5em;
border-left: 1px solid #fff;}
 
#accordion li img {
border: none;
border-right: 1px solid #fff;
float: left;
margin: -15px 15px 0 0;
}
 
#accordion li.active {
width: 450px;
}



#accordion2 {
list-style: none;
margin: 5% 0;
padding: 0;
height: 200px;
overflow: hidden;
background: #7d8d96;}
 
#accordion2 li {
float: left;
border-left:
display: block;
height: 170px;
width: 50px;
padding: 15px 0;
overflow: hidden;
color: #fff;
text-decoration: none;
font-size: 16px;
line-height: 1.5em;
border-left: 1px solid #fff;}
 
#accordion2 li img {
border: none;
border-right: 1px solid #fff;
float: left;
margin: -15px 15px 0 0;
}
 
#accordion2 li.active {
width: 450px;
}




footer{

margin-bottom:10%;
text-align:center;
font-family: 'Josefin Sans', sans-serif;
}

*/