
@font-face{
	font-family:"din-med";
	src:url('font/DINPro-Medium.otf');

}


@font-face{
	font-family:"avant-med";
	src:url('font/ITCAvantGardeStd-Md.otf');
}


#home{
	margin: 3% auto;
	max-width: 80%;
	


}

#bar li{
	list-style-type: none;
	display:inline;
	padding:3%;
}




#homebutton {
	padding-left:1%;
	
}

#content{
	max-width:75%;
	margin:5% auto;
}


 #index{
	display:block;
}

#index-button{
	opacity:1.0;
}

#work{
	display:none;
}

#work-button{
	opacity:0.3;
}

#blog{
	display:none;
}

#blog-button{
	opacity:0.3;
}


#resume{
	display:none;
	}

#resume-button{
	opacity:0.3;
}

#about{
	display:none;
}

#about-button{
	opacity:0.3;

	
}


li.button2 a:hover{
	opacity: 0.5;
}

li.button2 a:visited{
	color:#F76C66;
}

li.button2 a:link{
	color:#F76C66;
}





li.button2 a{
	font-family:"avant-med";
	color:black;
	font-size: 1.5em;
	text-decoration: none;
}








#proj li{
	float:right;
	list-style-type: none;
}

footer{
margin-top:5%;
margin-bottom:5%;
text-align:center;
}